@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<button class="button button-blue-back" id="load-friends-button">Load Friends</button>

<div id="friends-list-content">
</div>

<script src="~/friends.js"></script>

@* @{
    PersonGridModel personGridModelForIndex = new PersonGridModel()
    {
        GridTitle = "Index Persons",
        Persons = new List<Person>()
        {
            new Person
            {
                PersonName = "Serkan",
                JobTitle = "Soldier"
            },
            new Person
            {
                PersonName = "Kadriye",
                JobTitle = "Nurse"
            }
        }
    };
}

@await Component.InvokeAsync("Grid", new{grid = personGridModelForIndex}) *@