@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Product";
    
    if (ViewBag.ProductId != null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
}

<h1>Search</h1>
<p>Search Details Here</p>