@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>Contact Details Here</p>

@section footer_section
{
    <p>Contact Support : 1238479128347912834</p>
}